.px-lg {
    padding-inline: var(--px-lg);
}

.py-base {
    padding-block: var(--py-base);
}

.py-md {
    padding-block: var(--py-md);
}

.text-2xl {
    font: var(--h1);
}

.text-xl {
    font: var(--h2);
}

.text-lg {
    font: var(--h3);
}

.text-sm {
    font: var(--texct-sm);
}

.container {
    --max-width: 80em;
    width: min(var(--max-width), 100% - var(--px-lg) * 2); /* subtract lateral padding from both sides */
    margin-inline: auto; /* center container */
}

.desktop-only {
    display: initial;
}

.mobile-only {
    display: none;
}

/* make side by side on desktop */
.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap-05 {
    gap: .5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-flow-row {
    grid-auto-flow: row;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

/* < 1280px */
@media (width < 80em) {
    .container {
        --max-width: 22.5rem; /* 360px */
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: initial;
    }

    /* make one above the other on mobile */
    .even-columns {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        gap: 1rem;
    }

    .grid-cols-2 {
        grid-template-columns: repeat(1, 1fr);
    }
}
